# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakeLists.txt
*.txt.user

# .gitignore
*.swp
*~

# build file
build
build-*

# 21-Iterative_closest_point/data
21-Iterative_closest_point/data

# pcd
*.pcd

# 22-Robust_pose_estimatio_of_rigid_objects/chef.pcd
22-Robust_pose_estimatio_of_rigid_objects/*.pcd

# 24-Normal_Estimation_Using_Integral_Images/table_scene_mug_stereo_textured.pcd
24-Normal_Estimation_Using_Integral_Images/*.pcd

# 25-How_to_incrementally_register_pairs_of_clouds/capture0001.pcd
25-How_to_incrementally_register_pairs_of_clouds/*.pcd


